<!DOCTYPE html>
<html lang="{{front.lang}}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@4.0.0/destyle.min.css">
    <link rel="stylesheet" href="/tempura-doc/{{resolve "../style.css"}}" type="text/css" media="all">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="/tempura-doc/{{ resolve "../shared.js" }}"></script>
    <title>{{front.title}} | Tempura Doc</title>
  </head>
  <body class="ui-stack">
    <div id="header-dummy" class="ui-fixed"></div>
    <header id="header" class="ui-fixed ui-stack ui-horizontal">
      <div class="ui-stack ui-horizontal ui-fixed ui-interval-small">
        <div id="sidebar-toggle-icon" class="ui-vertical-center"><span class="material-symbols-rounded">menu</span></div>
        <div>
          <h1 id="header-website-title" class="ui-vertical-center"><a href="/tempura-doc/{{front.lang}}/">Tempura</a></h1>
        </div>
      </div>
      <div class="ui-stretch"></div>
      <div class="ui-vertical-center">
        <a href="" onclick="changeLanguage('ja'); return false;">日本語</a>
      </div>
      <div class="ui-vertical-center">&nbsp;|&nbsp;</div>
      <div class="ui-vertical-center">
        <a href="" onclick="changeLanguage('en'); return false;">English</a>
      </div>
    </header>
    <div class="ui-stack ui-horizontal ui-stretch" id="content">
      <div id="sidebar-dummy" class="ui-fixed"></div>
      <nav id="sidebar" class="ui-fixed">
        <ul>
          <li><a href="/tempura-doc/{{front.lang}}/">Home</a></li>
          <li><a href="/tempura-doc/{{front.lang}}/getting-started/">Getting Started</a></li>
          <li><a href="/tempura-doc/{{front.lang}}/concepts/">Concepts</a></li>
          <li><a href="/tempura-doc/{{front.lang}}/spec/">Specifications</a>
            <ul>
              <li><a href="/tempura-doc/{{front.lang}}/spec/tempura-yml/">Schema for `tempura.yml`</a></li>
              <li><a href="/tempura-doc/{{front.lang}}/spec/pipeline/">Pipeline</a></li>
              <li><a href="/tempura-doc/{{front.lang}}/spec/store/">Store</a></li>
              <li><a href="/tempura-doc/{{front.lang}}/spec/loaders/">List of Loaders</a></li>
              <li><a href="/tempura-doc/{{front.lang}}/spec/transformers/">List of Transformers</a></li>
              <li><a href="/tempura-doc/{{front.lang}}/spec/helpers/">List of Helpers</a></li>
            </ul>
          </li>
          <li><a href="/tempura-doc/{{front.lang}}/cli/">CLI</a></li>
          <li><a href="/tempura-doc/{{front.lang}}/how-to/">How to</a></li>
        </ul>
      </nav>
      <div id="mf-container" class="ui-stack ui-stretch">
        <main id="main" class="ui-stretch">
          <div class="markdown">
            <h1>{{front.title}}</h1>
            {{#if front.date}}
              最終更新: {{front.date}}<br>
            {{/if}}
            {{#if front.version}}
              対応バージョン: {{front.version}}
            {{/if}}
            {{{md2html content}}}
          </div>
        </main>
        <footer class="ui-fixed" id="footer">
      <div>Built with <a href="https://github.com/yuma140902/tempura">Tempura</a></div>
        </footer>
      </div>
    </div>
  </body>
</html>
